{% extends 'base.html.twig' %}

{% block title  %}
    Категории - {{ parent() }}
{% endblock title %}
{% block body %}
    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item">
                <a class="btn btn-primary"
                   href="{{ path('category_show', {'slug': category.slug}) }}">{{ category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock body%}