{% extends 'base.html.twig' %}

{% block title  %}
    Категория - {{ category.name }}
{% endblock title %}
{% block body %}
{% for message in app.flashes('notice') %}
    <p>{{ message }}</p>
{% endfor %}
Category: {{ category.name }}<br>
Page: {{ page }}<br>

Products:
<div class="row">
    {% include 'partials/products.html.twig' with {'products': category.products} %}
</div>
{% endblock body%}