{% extends 'base.html.twig' %}
{% block title  %}
    Главная
{% endblock title %}
{% block body %}
    <div class="row">
        {% include 'partials/products.html.twig' with {'products': topProducts} %}
    </div>
{% endblock body %}