{% extends "base.html.twig" %}
{% block title %}Информация о магазине{% endblock %}
{% block body %}
{% block content %}
    <h1>О нас</h1>
    <div id="about">
        <p>Приветствуем Вас! Сегодня <strong>{{date}}</strong></p>
        <p>Здесь мы напишем информацию о нашем магазине <strong>{{shopName}}</strong>, когда придумаем.</p>
    </div>
{% endblock %}
{% endblock %}