{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h2>Корзина</h2>
        {% include 'order/items.html.twig' with {'order': order} %}

        <a href="{{ path('order_complete') }}">Оформить заказ</a>
    </div>

{% endblock body%}